<%= image_tag "dave.jpg", :border => "0", :align => "left", :hspace => "5", :vspace => "5" %>
<h2>About me</h2>

<p>I have been a long time computer programmer.  I graduated from the <%= link_to "SUNY College at Brockport", "http://www.brockport.edu" %> with a BS in <%= link_to "Computer Science", "http://www.brockport.edu/cs/" %> and a MS in <%= link_to "Computational Science", "http://www.brockport.edu/cps/" %>.  My course work included algorithms, mathmatics, computer architecture, operating systems, and programming laguage theory.  Most of my coursework was done in C, C++ and Java</p>

<p>I am currently a programmer at <%= link_to "Harris Interactive", "http://www.harrisinteractive.com" %>, a market research company, in Rochester, N.Y.  I work with Quantum, SPSS, and Bash shell scripting</p>

<p>I have done web programming since 1996, when I was in high school. I have decided to re-write everything in a more modern way.  So, I'm in the process of learning Ruby on Rails to re-create my website.  I have been learning git for source code management and capistrano for deployment.</p>

<p>I have been using Unix/Linux for more than a decade.  I am FLOSS advocate.  I am involved with the <%= link_to "Linux Users Group of Rochester (LUGOR)", "http://www.lugor.org" %> and the <%= link_to "Ubuntu New York State LoCo", "http://ny.ubuntu-us.org" %>.

<p>I enjoy sports, wine tasting and outdoor activites such as camping and fishing.</p>

<p>Download/View my resume:
<ul>
<li><a href="/documents/webresume.doc">Microsoft Word (97/2000/XP/2003)</a></li>
<li><a href="/documents/webresume.txt">Plain Text</a></li>
<li><a href="/documents/webresume.pdf">PDF</a></li>
<li><a href="/documents/webresume.html">HTML</a></li>
<li><a href="/documents/webresume.odt">LibreOffice</a></li>
</ul>

<table border="0">
  <tr>
    <td><g:plusone count="false"></g:plusone></td>
  </tr>
</table>

